<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="PageObjectModelPagaeFactories">
	<listeners>
		<listener class-name="org.uncommons.reportng.HTMLReporter" />
		<listener
			class-name="org.uncommons.reportng.JUnitXMLReporter" />
		<listener
			class-name="com.opentext.errorcollectors.TestListenerAdapter" />
		<listener class-name="com.opentext.listeners.CustomListeners" />
	</listeners>
	<test name="LoginTest">
		<classes>
			<class name="com.opentext.testcases.TestLoginAsAdmin" />
		</classes>

	</test> <!-- Test -->
	<test name="CreateUsersTest">
		<classes>
			<class name="com.opentext.testcases.TestCreateUsers" />
		</classes>

	</test>
</suite> <!-- Suite -->
